/* TODO: Write Styles  */
@font-face {
    font-family: 'E-Keet Pixelwood';
    src: url('fonts/e_keet_pixelwood.ttf') format('truetype');
}

@font-face {
    font-family: 'E-Keet 50Hz';
    src: url('fonts/e_keet_50hz.ttf') format('truetype');
}

:root {
    font-family: 'E-Keet Pixelwood', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    --grid-column-width: calc(100% / 12);
}

code {
    font-family: 'E-Keet 50Hz', monospace;
    font-size: 20px;
    letter-spacing: -2px;
}

code:not(.hljs) {
    color: #ab5656;
}

h1, h2, p, ol, ul, .code-block {
    margin-top: 0;
    margin-bottom: 1.75rem;
}

h1 {
    font-size: 2.25rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* === Code blocks === */
.code-block {
    pre {
        margin: 0;
    }
}

/* Reduce margin of paragraphs before code blocks */
p:has(+ .code-block) {
    margin-bottom: 0.25rem;
}

pre code.hljs {
    font-size: 14px;
}

.code-block.diff {
    display: flex;

    .diff-left {
        width: 100%;

        pre {
            height: 100%;

            code {
                height: 100%;
                box-sizing: border-box;
            }
        }
    }

    .diff-slider {
        width: 10px;
        background-color: black;
        cursor: ew-resize;
    }

    .diff-right {
        pre {
            height: 100%;
            overflow: hidden;

            code {
                height: 100%;
                overflow: hidden;
                box-sizing: border-box;
            }
        }
    }
}

.content-columns-root {
    display: flex;
}

.content-columns-root > * {
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.left-spacer {
    --column-width: calc(var(--grid-column-width) * 1);
    flex-basis: var(--column-width);
    max-width: var(--column-width);
}

.content-column {
    --column-width: calc(var(--grid-column-width) * 8);
    flex-basis: var(--column-width);
    max-width: var(--column-width);
    padding: 3rem 10%;
}

.right-spacer {
    --column-width: calc(var(--grid-column-width) * 3);
    flex-basis: var(--column-width);
    max-width: var(--column-width);
}

.footnotes li {
    list-style: none;
}
