<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ author }}" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ thumbnail-url }}" />
    <!-- Make the image large so it looks good when shared on social media (also on other platforms than Twitter) -->
    <meta name="twitter:card" content="summary_large_image">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ styles-url }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/ruby.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="{{ diff-slider-js-url }}" defer></script>
  </head>
  <body>
    <main>
      <div class="content-columns-root">
        <div class="left-spacer"></div>
        <div class="content-column">
          <article>
            {{ content }}
          </article>
        </div>
        <div class="right-spacer"></div>
      </div>
    </main>

    <footer>
      <hr />
      <p>&copy; 2024 Kevin Fischer</p>
      <p>This website uses the E-Keet Pixelwood and the E-Keet 50Hz font, which are licensed under
      the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0
      Unported License</a>. The fonts were created by Electric Keet and can be downloaded from
      the <a href="https://electrickeet.com/fonts/" target="_blank">Electric Keet website</a>. No changes were made to
      the original fonts.</p>
    </footer>
  </body>
</html>
