<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Kevin Fischer" />
    <meta name="description" content="Articles about Game Dev, TDD, maintainable software and possibly other random
                                      stuff I'm interested in." />
    <title>KF Labo Blog</title>
    <link rel="stylesheet" href="{{ stylesheet-path }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/ruby.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <main>
      <div class="content-columns-root">
        <div class="left-spacer"></div>
        <div class="content-column">
          <article>
            {{ content }}
          </article>
        </div>
        <div class="right-spacer"></div>
      </div>
    </main>

    <footer>
      <hr />
      <p>&copy; 2024 Kevin Fischer</p>
      <p>This website uses the E-Keet Pixelwood font, which is licensed under
      the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0
      Unported License</a>. The font was created by Electric Keet and can be downloaded from
      the <a href="https://electrickeet.com/fonts/" target="_blank">Electric Keet website</a>. No changes were made to
      the original font.</p>
    </footer>
  </body>
</html>
